In [61]:
import findspark
from pathlib import Path # Find certain directories.
from pyspark.sql import SparkSession

findspark.init()
findspark.find()

'/Users/julitorresma/opt/anaconda3/envs/capstone/lib/python3.10/site-packages/pyspark'

In [62]:
spark = SparkSession \
        .builder \
        .appName("Python Spark SQL basic example") \
        .config("spark.jars", "/Users/julitorresma/Desktop/capstoneFinal/postgresql-42.2.26.jre7.jar") \
        .getOrCreate()

USEFULL FUNCTIONS

In [63]:
def fecthForFiles(format):
    pathlist = list( Path( '.' ).glob(f'**/*.{format}') )
    filelist = sorted( [str(file) for file in pathlist] )
    print(filelist)
    return filelist

def createJsonDataFrame(filelist):
    for file in filelist:
        df = spark.read.json(str(file))
        df.printSchema()
        df.show()
    return df

def createParquetDataFrame(filelist):
    for file in filelist:
        df = spark.read.parquet(str(file))
        df.printSchema()
        df.show()
    return df

def createRDBMsDataFrame(filelist):
    df =[spark.read.options(header='True', inferSchema='True', delimiter=';').csv(file) for file in filelist]
    for file in df:
        file.printSchema()
        file.show()
    return df

def writeToCsv(df):
    #df.write.format("csv").mode("overwrite").save("filename.csv")
    pass

AQUI DEBAJO CREAMOS UNA SESION DE PYSPARK

In [64]:
#Create SparkSess
#spark = SparkSession.builder.appName('aggs').getOrCreate()

### A CONINUACION SE ANALIZARA EL TREE DIRECTORY EN BUSCA DE ARCHIVOS .JSON, Y GUARDARE EL DATAFRAME PARA ANALIZARLO DESPUES

In [65]:
json_files = fecthForFiles("json")
json_df = createJsonDataFrame(json_files)

['data_Generators/JSON/1664810460.538674.json']
root
 |-- amount: long (nullable = true)
 |-- customer_first_name: string (nullable = true)
 |-- customer_last_name: string (nullable = true)
 |-- id: long (nullable = true)
 |-- ts: string (nullable = true)
 |-- type: long (nullable = true)

+------+-------------------+------------------+---+-------------------+----+
|amount|customer_first_name|customer_last_name| id|                 ts|type|
+------+-------------------+------------------+---+-------------------+----+
|  6156|             Cortez|              Howe| 35|01-12-2021T00:00:00|   0|
| 68869|            Florrie|            Renner| 43|01-12-2021T00:05:00|   1|
| 68017|             Damian|             Pagac| 90|01-12-2021T00:10:00|   0|
| 90285|          Alexandra|            Barton| 13|01-12-2021T00:15:00|   0|
| 25793|              Faron|          Bogisich| 97|01-12-2021T00:20:00|   1|
| 32900|             Evonne|            Deckow| 31|01-12-2021T00:25:00|   0|
| 83920|           Carolann|            Nienow| 53|01-12-2021T00:30:00|   1|
| 38842|            Adaline|              Wiza| 41|01-12-2021T00:35:00|   1|
| 43856|              Lucas|            Herzog| 20|01-12-2021T00:40:00|   1|
| 28627|               Taya|             Wolff| 11|01-12-2021T00:45:00|   0|
| 17517|             Gretta|            Brakus| 56|01-12-2021T00:50:00|   0|
| 47359|              Ansel|           Waelchi| 12|01-12-2021T00:55:00|   1|
| 34245|               Olof|           Friesen| 16|01-12-2021T01:00:00|   0|
| 61326|              Grove|             Kutch| 85|01-12-2021T01:05:00|   0|
| 73230|            Tristen|         Bechtelar| 33|01-12-2021T01:10:00|   0|
| 61383|           Marcello|              Bode| 15|01-12-2021T01:15:00|   0|
| 33477|         Alexandria|            Kirlin| 67|01-12-2021T01:20:00|   1|
| 56552|            Seymour|           Schmitt| 72|01-12-2021T01:25:00|   0|
| 21248|             Portia|           Steuber| 50|01-12-2021T01:30:00|   1|
| 25338|           Kendrick|            Turner|  1|01-12-2021T01:35:00|   0|
+------+-------------------+------------------+---+-------------------+----+
only showing top 20 rows

### A CONINUACION SE ANALIZARA EL TREE DIRECTORY EN BUSCA DE ARCHIVOS .parquet, Y GUARDARE EL DATAFRAME PARA ANALIZARLO DESPUES

In [66]:
parquet_files = fecthForFiles("parquet")
parquet_df = createParquetDataFrame(parquet_files)

['data_Generators/Parquet/1664914433.706864.parquet']
root
 |-- Id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Amount: long (nullable = true)
 |-- ts: string (nullable = true)
 |-- Store_id: long (nullable = true)

+---+----------+------------+------+-------------------+--------+
| Id|First_name|   Last_name|Amount|                 ts|Store_id|
+---+----------+------------+------+-------------------+--------+
|106|   Lucille|      Erdman|  6156|01-12-2021T00:00:00|      17|
|114|       Edd|     Bartell| 68869|01-12-2021T00:05:00|       6|
|103|  Citlalli|        Ryan| 68017|01-12-2021T00:10:00|      12|
|145|     Ivory|    Thompson| 90285|01-12-2021T00:15:00|      18|
|142|  Brittney|Christiansen| 25793|01-12-2021T00:20:00|       6|
|148|     Karel|  Balistreri| 32900|01-12-2021T00:25:00|      16|
|113|   Roderic|    McKenzie| 83920|01-12-2021T00:30:00|       4|
|127|   Triston|     Abshire| 38842|01-12-2021T00:35:00|      15|
|193|    Angela|    Anderson| 43856|01-12-2021T00:40:00|       6|
|169|    Lauryn|        Hane| 28627|01-12-2021T00:45:00|      20|
|194|    Kierra|      Heaney| 17517|01-12-2021T00:50:00|       8|
|133|     Makai|    Johnston| 47359|01-12-2021T00:55:00|      12|
|164|     Ludie| Cruickshank| 34245|01-12-2021T01:00:00|      11|
|140|     Jamal|      Larkin| 61326|01-12-2021T01:05:00|       1|
|149|     Rubin|       Berge| 73230|01-12-2021T01:10:00|      19|
|182|   Carmelo|    Reynolds| 61383|01-12-2021T01:15:00|      17|
|120|     Dario|       Sauer| 33477|01-12-2021T01:20:00|      16|
|117|     Elena|      Corwin| 56552|01-12-2021T01:25:00|      20|
|102|   Adeline|     Schmidt| 21248|01-12-2021T01:30:00|       4|
|198|    Edward|    Franecki| 25338|01-12-2021T01:35:00|      11|
+---+----------+------------+------+-------------------+--------+
only showing top 20 rows

In [67]:
csv_files = fecthForFiles("csv")
rdbms_df1, rdbms_df2 = createRDBMsDataFrame(csv_files)

['data_Generators/RDBMS/capstone.Customer.csv', 'data_Generators/RDBMS/capstone.Transaction.csv']
root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- phone_number: double (nullable = true)
 |-- address: string (nullable = true)

+---+--------------------+--------------------+-----------------+--------------------+
| id|          first_name|           last_name|     phone_number|             address|
+---+--------------------+--------------------+-----------------+--------------------+
|  6|Rosaria          ...|Hand             ...| 6.44758406345E11|Lake Tylerland   ...|
| 40|Markita          ...|Buckridge        ...|1.321019445488E12|Lindseyshire     ...|
| 29|Amiyah           ...|Metz             ...|3.309075042478E12|Rodneyborough    ...|
| 42|Marybelle        ...|Lockman          ...|  3.2959120676E10|Lake Rogerfurt   ...|
| 88|Danielle         ...|Fritsch          ...| 3.71744633339E11|Sherriport       ...|
| 60|Zula             ...|Treutel          ...|5.515369468956E12|North Melissaview...|
| 50|Sommer           ...|Johnston         ...|5.782914029739E12|Sherriport       ...|
| 19|Baylee           ...|Wilkinson        ...|9.164370976367E12|Lake Elizabeth   ...|
| 49|Lesley           ...|Lebsack          ...|8.728596681539E12|Lake Cynthiaport ...|
|100|Maud             ...|Klein            ...|1.617970573502E12|Frostborough     ...|
| 28|Joslyn           ...|Goyette          ...| 1.62269845879E12|Jasonfort        ...|
| 75|Blaine           ...|Mitchell         ...| 8.08694961237E12|South Ashleychest...|
| 20|Stephanie        ...|Heathcote        ...|5.813968420741E12|North Teresastad ...|
| 63|Destiny          ...|Lueilwitz        ...|7.253751258761E12|North Melissaview...|
| 89|Eboni            ...|Hermann          ...|1.914390256435E12|Lake Kathryn     ...|
| 81|Haskell          ...|Funk             ...| 9.34456146027E12|Lake Rogerfurt   ...|
| 26|Shavon           ...|Abbott           ...|9.088740823515E12|Frostborough     ...|
| 95|Margarett        ...|Green            ...|3.485865251027E12|Lake Lauraborough...|
| 66|Norah            ...|Cummings         ...|3.452531461725E12|Rodneyborough    ...|
| 15|Lyndia           ...|Wolf             ...|2.254204723105E12|Lake Cynthiaport ...|
+---+--------------------+--------------------+-----------------+--------------------+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- transaction_ts: string (nullable = true)
 |-- amount: integer (nullable = true)

+---+-----------+--------------------+------+
| id|customer_id|      transaction_ts|amount|
+---+-----------+--------------------+------+
|  6|         84|01-12-2021T00:00:...|  6156|
| 40|         65|01-12-2021T00:05:...| 68869|
| 29|         88|01-12-2021T00:10:...| 68017|
| 42|          1|01-12-2021T00:15:...| 90285|
| 88|         28|01-12-2021T00:20:...| 25793|
| 60|         77|01-12-2021T00:25:...| 32900|
| 50|         12|01-12-2021T00:30:...| 83920|
| 19|         45|01-12-2021T00:35:...| 38842|
| 49|          8|01-12-2021T00:40:...| 43856|
|100|         60|01-12-2021T00:45:...| 28627|
| 28|         71|01-12-2021T00:50:...| 17517|
| 75|         68|01-12-2021T00:55:...| 47359|
| 20|         47|01-12-2021T01:00:...| 34245|
| 63|         74|01-12-2021T01:05:...| 61326|
| 89|         42|01-12-2021T01:10:...| 73230|
| 81|         87|01-12-2021T01:15:...| 61383|
| 26|         54|01-12-2021T01:20:...| 33477|
| 95|         80|01-12-2021T01:25:...| 56552|
| 66|         40|01-12-2021T01:30:...| 21248|
| 15|         30|01-12-2021T01:35:...| 25338|
+---+-----------+--------------------+------+
only showing top 20 rows